[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
invoke = "*"
coverage = "*"
mypy = "*"
flake8 = "*"
isort = "*"
flake8-isort = "*"

[packages]
dialogflow = "*"
pyyaml = "*"
packaging = "*"

[requires]
python_version = "3.7"
